body{
    background-color: #facfe8;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 800px;
    margin: 0 auto;
}
h2{
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
    text-shadow: 5px 3px 5px #9e025d;
}
.infoSection{
    margin: 1rem;
    padding: 2rem 2rem;
    min-height: 220px;
    width: 305px;
    height: 500px;
    background-color: #facfe8;
    text-shadow: 2px 2px 2px #9e025d;
    text-align: center;
    float: right;
}
.laptops{
    position: flex;  
    float: left;
    width: fit-content;
    min-height: 220px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    width: 265px;
    height: 500px;
    background-color: #facfe8;
    text-shadow: 2px 2px 2px #9e025d;
    

}

.bank{  
    position: flex;  
    float: left;
    width: fit-content;
    min-height: 220px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    background-color: rgb(219, 1, 183);
}
.work{
    position: flex;  
    float: right;
    width: fit-content;
    min-height: 220px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    background-color: rgb(170, 163, 255);
}

.button, #test{
    position: relative;
    padding: 0rem 1rem 0rem 1rem;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:fuchsia;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    border: 0px;
    box-shadow: 5px 3px 5px #9e025d;
    
}
.repay{
    text-align: center;
}
.button:hover, #test:hover, #laptops:hover {
    background-color: rgb(255, 233, 247);        
} 
.button:active, #test:active {
    transform: translateY(4px);
}
.bankBalance{
    padding: 10px;
}
.bankDebt{
    padding: 10px;
}
.workPay{
    padding: 10px;
}
.bankBalance #balance{
    float: right;
}
.workPay #workPayBalance{
    float: right;
}
.bankDebt #debt {
    float: right;

}
#image{
    max-width: 300px;
    margin: 20px;
}

#laptops{
    position: relative;
    padding: 0rem 1rem 0rem 1rem;
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:fuchsia;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    border: 0px;
    box-shadow: 5px 3px 5px #9e025d;
    margin: 25px 0 25px 25px;
    

}

